body {
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    height: 100%;
}

.bgGray{
    background-color: rgb(205, 203, 203);
    padding: 25px 40px;
}
#mainPageSection{
    height: 100%;
}
button.option-btn {
    background: gray;
    margin: 10px;
    width: 40%;
    padding: 20px;
}
#options {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.clicked{
    background-color: rgb(40, 203, 40) !important;
}
#quiz-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
 #next-btn {
    background: gray;
    margin: 10px;
    width: 250px;
    padding: 20px;
}
